<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:mvc="http://www.springframework.org/schema/mvc"
           xmlns:context="http://www.springframework.org/schema/context"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<mvc:cors>-->
        <!--<mvc:mapping path="/**" allowed-origins="*" allow-credentials="true" max-age="1800" allowed-methods="GET,POST,OPTIONS"/>-->
    <!--</mvc:cors>-->

    <!--自动扫描指定包下的注解，依次创建对象放入IOC容器统一管理-->
    <context:component-scan base-package="com.wx.main"/>

    <!--让Spring MVC的视图解析器不处理静态资源(.mp4 .js .html等)-->
    <mvc:default-servlet-handler />

    <!--替代了HandlerMapper和HandlerAdapter的功能，通过注解自动匹配对应的Controller-->
    <mvc:annotation-driven />

    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <mvc:exclude-mapping path="/admin/login"/>
            <mvc:exclude-mapping path="/admin/register"/>
            <mvc:exclude-mapping path="/admin/checkIsBanned"/>
            <bean class="com.wx.main.Interceptor.TokenInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 视图解析器
        1. 获取ModelAndView的数据
        2. 解析ModelAndView的视图名字
        3. 拼接名字，找到对应的视图跳转
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>